@font-face {
  font-family: "Muli-Regular";
  src: url(../fonts/MULI-REGULAR.TTF);
}

@font-face {
  font-family: "Muli-Black";
  src: url(../fonts/MULI-BLACK.TTF);
}

@font-face {
  font-family: "Poppins-Black";
  src: url(../fonts/POPPINS-BLACK.TTF);
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(../fonts/POPPINS-REGULAR.TTF);
}

* {
  margin: 0px;
  text-decoration: none;
  max-width: 100%;
}

header {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20vh;
  background-image: linear-gradient(black,rgba(0, 0, 0, 0));
  width: 100vw;
}

.logo_home{
  margin-left: 8vw;
  width: 30vw;
}
nav{
  display: flex;
  margin-left: auto;
  margin-right: 10vw;
  align-items: center ;
  justify-content: space-between;
  font-family: "Poppins-Regular";
  font-weight: 700;
  font-size: 0.8em;
  width: 50vw;
}

.pipanav{
  position: absolute;
  width: 120px;
  margin-left: -125px;
  margin-top:15px;
  opacity: 0;
}

nav a:hover > .pipanav{
opacity: 1;
transition: 0.4s;
margin-top:-15px;
}

nav a:nth-of-type(1) .pipanav {
  margin-left: -120px;
}

nav a:nth-of-type(3) .pipanav{
  margin-left: -100px;
}

nav a:nth-of-type(4) .pipanav {
  margin-left: -80px;
}

nav a:nth-of-type(5) .pipanav {
  margin-left: -100px
}
nav a{
  color: white;
  position: ;
}

#quemsomos {
  height: 140vh;
  background-image: url("../img/foto_menina.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Muli-Regular";
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	background-color: #1c120c;
	background-attachment:fixed;
}

.background-overlay{
  background-color: rgba(0,0,0,.45098);
  width: 100%;
  height: 100%;
}

.quemsomos {
  /* background-color: #215690; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw 2vw 3vh;
  position: absolute;
  width: 32vw;
  height: 26vh;
  right: 5vw;
  top: 50vh;
}
.quemsomos img {
  position: absolute;
  height: 8vh;
  top: -7vh;
}

.quemsomos p {
  font-family: "Muli-Regular";
  font-style: normal;
  font-weight: 0;
  font-size: 1.5vw;
  line-height: 25px;
  text-align: center;
  color: white;
}

.quemsomos button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: #eceff5;
  border-radius: 80px;
  border-width: 0;

  font-weight: 600;
  font-size: 1vw;
  line-height: 24px;
  color: #89234D;
  margin-top: 3vh;
  height: 5vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.quemsomos button img {
  position: relative;
  width:auto;
  height: 2.5vh;
  top: 0;
  margin-left: 1vw;
}

#ajudar {
  background-color: #EDC74D;
  height: 100vh;
  transform: skewY(1deg);
  margin-top: -2vh;
}

.logo_ajudar {
  position: absolute;
  height: 8vh;
  top: 10vh;
  left: 10vw;
  transform: skewY(-1deg);
}
#doar_cards {
  position: absolute;
  margin-top: 15vh;
  transform: skewY(-1deg);
  display: table;
}
.card_ajudar {
  float: left;
  width: 35vw;
  margin-left: 10vw;
  margin-top: 15vh;
  height: 16vh;
}

.card_ajudar h4 {
  font-family: "Poppins-Regular";
  font-weight: 800;
  font-size: 1em;
}

.card_ajudar p {
  font-family: "Muli-Regular";
  margin-top: 1vh;
}
button{
  cursor: pointer;
}

.card_ajudar button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: static;
  width: 15vw;
  height: 5vh;
  left: 0px;
  top: 124px;

  background: #eceff5;
  border-radius: 80px;
  border-width: 0;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 20px 0px;

  font-weight: 600;
  font-size: 0.8em;
  line-height: 24px;
  color: #3e5f9e;
}

.card_ajudar:last-of-type button {
  width: 18vw;
}

.card_ajudar button img {
  margin-left: 2vw;
}

#atividades {
  display: block;
  background: #d3466f;
  height: 100vh;
  margin-top: -2vh;
  color: #eceff5;
  transform: skewY(-1deg);
  z-index: 2;
}

.logo_atividades {
  height: 8vh;
  margin-left: 10vw;
  margin-top: 12vh;
  transform: skewY(1deg);
}

.card_atividades {
  width: 30vw;
  margin-left: 10vw;
  margin-top: 15vh;
  height: 16vh;
  transform: skewY(1deg);
}

.card_atividades h4 {
  font-family: "Poppins-Regular";
  font-weight: 800;
  font-size: 1em;
  transform: skewY(1deg);
}

.card_atividades p {
  font-family: "Muli-Regular";
  margin-top: 1vh;
}

.card_atividades button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: static;
  width: 18vw;
  height: 5vh;
  left: 0px;
  top: 124px;

  background: #eceff5;
  border-radius: 80px;
  border-width: 0;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 20px 0px;

  font-weight: 600;
  font-size: 0.8em;
  line-height: 24px;
  color: #3e5f9e;
}

.card_atividades button img {
  margin-left: 2vw;
}

.container_atividades {
  position: absolute;
  left: 50vw;
  margin-top: -50vh;
}

.atividades {
  width: 30vw;
  margin-left: 10vw;
  margin-top: 15vh;
  height: 16vh;
  transform: skewY(1deg);
}

.atividades h4 {
  font-family: "Poppins-Regular";
  font-weight: 800;
  font-size: 1em;
  transform: skewY(1deg);
}

.atividades p {
  font-family: "Muli-Regular";
  margin-top: 1vh;
}

#galeria{
  display: flex;
  height: auto;
  background-color: #60A8B5;
  padding-bottom: 10vh;
  transform: skewY(1deg);
  margin-top: -2vh;
}

#instafeed-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 180vh;
  padding-top: 30vh;
  margin: auto;
  transform: skewY(-1deg);
}

  #instafeed-container a img{
  height: 30vh;
  object-fit: cover;
  width: 30vh;
}



#instafeed-container a:nth-child(25) {
  display: none;
}

.title{
  position: absolute;
  display: flex;
  background-color: #60A8B5
  ;
  justify-content: center;
  height: 30vh;
  width: 100%;
  transform: skewY(-1deg);
}

.logo_galeria{
  position: absolute;
  bottom: 4vh;
  width: 20vw;
}
.title a{
  position: absolute;
  bottom: 4vh;
  right: 10vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  font-weight: 600;
    font-size: 1em;
    line-height: 24px;
    font-family: "Poppins-Regular";
  color: #eceff5;
  text-decoration: none;
  }

.title img{
  margin-left: 1em;
}

.fotos_galeria{
width: 100vw;
object-fit: contain;
margin-top: 30vh;
}

#parceiros{
  display: flex;
  flex-direction: column;
  height: 50vh;
  background-color: white;
  width: 100vw;
}

.logo_parceiros{
  height: 10vh;
  margin: auto auto 10vh;
}

.parceiros{
  display: flex;
  margin: auto;
  width: auto;
  margin-top: 0vh;
  padding-bottom: 10vh;
  display: flex;
  align-content: center;
justify-content: space-between;
}

.parceiros img{
  min-height: 10vh;
  max-height: 15vh;
  max-width: 17vw;
  object-fit: contain;
}

.barra {
  margin: 0 2vw 0 2vw;
}
footer {
  height: 75vh;
  background-color: #dddddd;
}

.chamado_doacao {
  display: flex;
  height: 10vh;
  background-color: #C52D2D;
  font-family: "Poppins-Regular";
  font-size: 1em;
}
.chamado_doacao a{
  text-decoration: none;
  color: white;

  align-self: center;
  margin: auto;
  font-weight: 600;
  font-size: 1em;
  line-height: 24px;
}

.container_footer{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.card_footer{
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 50vh;
  justify-content: center;
  font-family: "Poppins-Regular";
  margin-top: 5vh;
  color: #545454;
}

.card_footer img{
}

.logo_footer {
  width: 20vw;
  margin-left: 4vw;
}

.socialmedia{
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 0;
  margin: auto;
  margin-top: 5vh;
}

.icon_facebook{
  height: .8em;
  width: .8em;
  background-color: #3d619b;
  margin: 0;
  padding: .2em;
}
.icon_instagram{
  height: .8em;
  width: .8em;
  background-color: #61a8b3;
  margin: 0;
  padding: .2em;
}
.icon_youtube{
  height: .8em;
  width: .8em;
  background-color: #c72d2e;
  margin: 0;
  padding: .2em;
}
  .card_footer a{
  text-decoration: none;
  font-family: "Poppins-Regular";
  font-size: 1.4em;
  color: #545454;
  margin-bottom: -.4em
}

#sobrenos{
min-height: 140vh;  width: 100vw;
  background-image: url('../img/foto_sede.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.historia{
  width: 30vw;
  margin-left: auto;
  margin-right: 10vw;
  margin-top: 30vh;
  background-color: #d3466f;
  padding: 5vh;
  height: 35vw;
}

.historia h4{
  font-family: "Poppins-Regular";
  font-size: 1.5vw;
  color: #eceff5;
}

.historia p{
  font-family: "Muli-Regular";
  font-size: 1vw;
  color: #eceff5;
}

.close {
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.nav_about {
  display: flex;
  margin: auto;
  /* margin-right: 10vw; */
  /* align-items: center ; */
  /* justify-content: space-between; */
  /* font-family: "Poppins-Regular"; */
  /* font-weight: 700; */
  /* font-size: 0.8em; */
  /* width: 50vw; */
}

#pipanav {
  position: absolute;
  width: 120px;
  margin-left: -80px;
  margin-top:15px;
  opacity: 0;
}

.nav_about a:hover > #pipanav{
opacity: 1;
transition: 0.4s;
margin-top:-15px;
}

.atividades_logo{
  position: absolute;
  width: 34vw;
  left: 50vw;
  margin-left: -17vw;
  margin-top: 20vh;
}

.oficinas{
  display: flex;
flex-direction: column;
padding-bottom: 10vh;
background-color:#EDC74D;

}

.oficinas h2 {
  margin: auto;
  font-family: "Poppins-Regular";
  margin-top: 25vh;
}

.oficinas h3{
  margin: auto;
  font-family: "Muli-Regular";
  font-weight: 570;
}

.card_oficinas{
  display: flex;
justify-content: space-evenly;
margin-top: 15vh;
flex-wrap: wrap;
}

.card_oficinas div{ 
  margin-bottom: 10vh;
}
.card_oficinas img {
 width: 25vw;
 height: 25vw;
 object-fit:cover;
}

.card_oficinas h4 {
  font-family: "Poppins-Regular";

}

.card_oficinas h5 {
  font-family: "Poppins-Regular";
  font-weight: 500;

}

.card_oficinas p {
  font-family: "Muli-Regular";
  width: 25vw;
}

.profissional{
  display: flex;
flex-direction: column;
margin-bottom: 0vh;
background-color: #F4DA87;
}

.profissional h2 {
  margin: auto;
  font-family: "Poppins-Regular";
  margin-top: 0vh;
  padding-top: 10vh;
}

.profissional h3{
  margin: auto;
  font-family: "Muli-Regular";
  font-weight: 570;
}

.profissional h5 {
  font-family: "Poppins-Regular";
  font-weight: 500;
}


.card_profissional{
  display: flex;
justify-content: space-evenly;
margin-top: 15vh;
flex-wrap: wrap;
}

.card_profissional div{ 
  margin-bottom: 10vh;
}
.card_profissional img {
 width: 25vw;
 height: 25vw;
 object-fit: cover;
}
.card_profissional h4 {
  font-family: "Poppins-Regular";

}

.card_profissional p {
  font-family: "Muli-Regular";
  width: 25vw;
}

.backgrounda {
  margin-top: -2vh;
  height: 100vh;
	background: url("../img/foto_backgrounda.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	background-color: #1c120c;
	background-attachment:fixed;
	position:relative;
	overflow:hidden;
  z-index: -1;
 }
 
.backgroundb {
  height: 100vh;
	background: url("../img/foto_backgroundb.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	background-color: #1c120c;
	background-attachment:fixed;
	position:relative;
	overflow:hidden;
  margin-top: -2vh;
 z-index: -1;}

.backgroundc {
  margin-top: -2vh;
  height: 100vh;
	background: url("../img/foto_backgroundc.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	background-color: #1c120c;
	background-attachment:fixed;
	position:relative;
	overflow:hidden;
 z-index: -1;
}

@media (max-width: 800px) {
 
  
* {
  margin: 0px;
  text-decoration: none;
}

header {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20vh;
  background-image: linear-gradient(black,rgba(0, 0, 0, 0));
  width: 100vw;
}

.logo_home{
margin: auto;
  width: 80vw;
}
nav{
  display: none;
  margin-left: auto;
  margin-right: 10vw;
  align-items: center ;
  justify-content: space-between;
  font-family: "Poppins-Regular";
  font-weight: 700;
  font-size: 0.8em;
  width: 50vw;
}

nav a{
  color: white;
}

#quemsomos {
  height: 100vh;
  background-image: url("../img/foto_menina.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -50vw;
  font-family: "Muli-Regular";
  display: flex;
}

.quemsomos {
  background-color: #215690;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12vw 6vw 12vw 6vw;
  position:static;
margin: auto;
width: 80vw;
margin-top: 60vh;
}
.quemsomos img {
  position: relative;
  height: 7vh;
  top: -12.0vh;
}

.quemsomos p {
  font-family: "Muli-Regular";
  font-style: normal;
  font-weight: 0;
  font-size: 5vw;
  line-height: 3vh;
  text-align: center;
  color: white;
  margin-top: -6vh;
}

.quemsomos button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
width: 50vw;
  
  background: #eceff5;
  border-radius: 80px;
  border-width: 0;

  font-weight: 600;
  font-size: 5vw;
  line-height: 5vh;
  color: #89234D;
  margin-top: 3vh;
}

.quemsomos button img {
  position: relative;
  width:auto;
  height: 2.5vh;
  top: 0;
  margin-left: 1vw;
}

#ajudar {
  background-color: #EDC74D;
  height: auto;
  transform: skewY(1deg);
  margin-top: -2vh;
}

.logo_ajudar {
  position: relative;
  height: 7vh;
  transform: skewY(-1deg);
  max-width: 80vw;
  margin: auto;
}
#doar_cards {
  position: relative;
  margin-top: 15vh;
  transform: skewY(-1deg);
  display: table;
}
.card_ajudar {
  float:none;
  width: 80vw;
  margin-left: 10vw;
  margin-top: 3vh;
  height: auto;
  display: flex;
  flex-direction: column;
}

.card_ajudar h4 {
  font-family: "Poppins-Regular";
  font-weight: 900;
  font-size: 1.2em;
  margin: auto;
  margin-top: 00vh;
}

.card_ajudar p {
  font-family: "Muli-Regular";
  margin-top: 0vh;
  margin: auto;
  text-align: justify;
}
button{
  cursor: pointer;
}

.card_ajudar button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 2vh;

  position: static;
  width: auto;
  height: 5vh;

  background: #eceff5;
  border-radius: 80px;
  border-width: 0;

  flex: none;
  order: 1;
  flex-grow: 0;

  font-weight: 600;
  font-size: 5vw;
  line-height: 5vh;
  color: #3e5f9e;
  padding: 6vw;
  margin-bottom: 5vh;
}

.card_ajudar:last-of-type button {
  width: auto;
  font-size: 4.5vw;
  margin-bottom: 10vh;
}

.card_ajudar button img {
  margin-left: 2vw;
}

#atividades {
  display: flex;
  background: #d3466f;
  height: auto;
  margin-top: -2vh;
  color: #eceff5;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 10vh;

}

.logo_atividades {
  height: 7vh;
  margin:auto;
  max-width: 80vw;
  margin-top: 10vh;
  transform: skewY(-1deg);
}

.card_atividades {
  text-align: justify;
  width: 80vw;
  margin-left: 0vw;
  height: auto;
  margin: auto;
  margin-top: 10vh;
}

.card_atividades h4 {
  font-family: "Poppins-Regular";
  font-weight: 800;
  font-size: 1em;
  margin: auto;
}

.card_atividades p {
  font-family: "Muli-Regular";
  margin-top: 1vh;
  margin: auto;
}

.card_atividades button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: static;
  width: auto;
  height: 5vh;

  background: #eceff5;
  border-radius: 80px;
  border-width: 0;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 20px 0px;

  font-weight: 600;
  font-size: 4.5vw;
  line-height: 24px;
  color: #3e5f9e;
  margin: auto;
  margin-top: 5vh;
  padding: 3vh;
}

.card_atividades button img {
  margin-left: 2vw;
}

.container_atividades {
  position: relative;
  display: flex;
  left: 0;
  margin-top: 0vh;
  width: 100vw;
  margin: auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.atividades {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  margin: auto;
  margin-left: 0vw;
  margin-top: 10vh;
  height: auto;
}

.atividades h4 {
  font-family: "Poppins-Regular";
  font-weight: 800;
  font-size: 1.5em;
}

.atividades p {
  font-family: "Muli-Regular";
  margin-top: 1vh;
  font-size: 1.2em;
}

#galeria{
  height: auto;
}


#instafeed-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 99vw;
  padding-top: 30vh;
  margin: auto;
}

  #instafeed-container a img{
  height: 33vw;
  object-fit: cover;
  width: 33vw;
}

#instafeed-container a:nth-child(25) {
  display: none;
}

.title{
  position: absolute;
  display: flex;
  background-color: #60A8B5
  ;
  justify-content: center;
  height: 30vh;
  width: 100%;
}

.logo_galeria{
  position: absolute;
  bottom: 9vh;
  margin: 0;
  margin: auto;
  height: 12vh;
}
.title a{
  position: absolute;
  bottom: 2vh;
  right: unset;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  font-weight: 600;
    font-size: 1.4em;
    line-height: 24px;
    font-family: "Poppins-Regular";
  color: #eceff5;
  text-decoration: none;
  }

.title img{
  margin-left: 0em;
}

.fotos_galeria{
width: 100vw;
object-fit: contain;
margin-top: 30vh;
}

#parceiros{
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: white;
padding-top: 10vh;
padding-bottom: 10vh;
width: 100vw;
}

.logo_parceiros{
  width: auto;
  height: 5vh;
  margin: auto auto;
}

.parceiros{
  display: flex;
  margin: auto;
  width: 60vw;
  margin-top: 5vh;
  display: flex;
  align-content: center;
justify-content: space-between;
flex-direction: column;
}

.barra{
  display: none
}

.parceiros img{
  height: 12vh;
  max-height: 100vh;
  max-width: 100vw;
  object-fit: contain;
  margin-top: 5vh;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  padding-bottom: 10vh;
}

.chamado_doacao {
  display: flex;
  height: 10vh;
  background-color: #C52D2D;
  font-family: "Poppins-Regular";
  width: 100vw;
  font-size: 1em;
}
.chamado_doacao a{
  text-decoration: none;
  color:white;
  align-self: center;
  margin: auto;
  font-weight: 600;
  font-size: .9em;
  line-height: 24px;
}

.container_footer{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.card_footer{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  justify-content: center;
  font-family: "Poppins-Regular";
  text-align: center;
  margin-top: 5vh;
}

.card_footer img{
  margin-left: 0vw;
}

.logo_footer {
  width: 70vw;
  margin-left: 0vw;
}
.socialmedia{
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 0;
  margin: auto;
  margin-top: 5vh;

}

.socialmedia a{
  align-self: flex-start;
}

.icon_facebook{
  height: .8em;
  width: .8em;
  background-color: #3d619b;
  margin: 0;
  padding: .2em;
}
.icon_instagram{
  height: .8em;
  width: .8em;
  background-color: #61a8b3;
  margin: 0;
  padding: .2em;
}
.icon_youtube{
  height: .8em;
  width: .8em;
  background-color: #c72d2e;
  margin: 0;
  padding: .2em;
}
  .card_footer a{
  text-decoration: none;
  font-family: "Poppins-Regular";
  font-size: 1.4em;
  margin-bottom: -.4em
}

#sobrenos{
min-height: 140vh;  width: 100vw;
height: auto;
  background-image: url('../img/foto_sede.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: ;
  display: flex;
}

.historia{
  width: 80vw;
  margin-left: auto;
  margin-right: 10vw;
  margin-top: 30vh;
  background-color: #d3466ede;
  padding: 3vh;
  height: 85vh;
}

.historia h4{
  font-family: "Poppins-Regular";
  font-size: 5vw;
  color: #eceff5;
}

.historia p{
  font-family: "Muli-Regular";
  font-size: 3.5vw;
  color: #eceff5;
  line-height: 2.2vh;
}

.close {
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.nav_about {
  display: flex;
  margin: auto;
  /* margin-right: 10vw; */
  /* align-items: center ; */
  /* justify-content: space-between; */
  /* font-family: "Poppins-Regular"; */
  /* font-weight: 700; */
  /* font-size: 0.8em; */
  /* width: 50vw; */
}

.atividades_logo{
  position: absolute;
  width: 60vw;
  left: 50vw;
  margin-left: -30vw;
  margin-top: 20vh;
}

.oficinas{
  display: flex;
flex-direction: column;
padding-bottom: 10vh;
background-color:#EDC74D;

}

.oficinas h2 {
  margin: auto;
  font-family: "Poppins-Regular";
  margin-top: 25vh;
}

.oficinas h3{
  margin: auto;
  font-family: "Muli-Regular";
  font-weight: 570;
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

.card_oficinas{
  display: flex;
justify-content: space-evenly;
flex-direction: column;
margin-top: 5vh;
flex-wrap: wrap;
}

.card_oficinas div{ 
  margin-bottom: 0vh;
  width: 80vw;
  margin: auto
}
.card_oficinas img {
 width: 80vw;
}
.card_oficinas h4 {
  font-family: "Poppins-Regular";
  text-align: center;
}

.card_oficinas p {
  font-family: "Muli-Regular";
  width: 80vw;
  margin: auto;
  text-align: center;
  margin-bottom: 10vh;
}

.profissional{
  display: flex;
flex-direction: column;
margin-bottom: 0vh;
background-color: #F4DA87;
}

.profissional h2 {
  margin: auto;
  font-family: "Poppins-Regular";
  margin-top: 0vh;
  padding-top: 10vh;
}

.profissional h3{
  margin: auto;
  font-family: "Muli-Regular";
  font-weight: 570;
  text-align: center;
}

.card_profissional{
  display: flex;
justify-content: space-evenly;
margin-top: 15vh;
flex-wrap: wrap;
text-align: center;
flex-direction: column;
}

.card_profissional div{ 
  margin: auto;
  margin-bottom: 10vh;
  width: 80vw;
}
.card_profissional img {
 width: 80vw;
}
.card_profissional h4 {
  font-family: "Poppins-Regular";

}

.card_profissional p {
  font-family: "Muli-Regular";
  width: 80vw;
}


}